{% extends "base.html" %}
{% block content %}
<html><head>
    <!--CSSを埋め込む-->
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">
    <style>
        /* スマートフォン対応 */
        @media screen and (max-width: 768px) {
          body {
            font-size: 18px;
          }
        }
      </style>

   
<img src="/image/R3.jpg" alt="写真">
<h1>オリコン・ケース入力</h1>
<h3>入力なしの場合は0で入力してください</h3>
<!--<form method="POST">-->
<form action="/{{date}}/{{storeNo}}/{{kigyo}}/{{store}}/chargein" method="POST">
    <table border="2">
        <tr>
            <th>実施日</th>
        </tr>
        <tr>
            <th>{{date}}</th> 
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>店舗コード</th>
        </tr>
        <tr>
            <th>{{storeNo}}</th>  
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>企業名</th>
        </tr>
        <tr>
            <th>{{kigyo}}</th> 
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>店舗名</th>
        </tr>
        <tr>
            <th>{{store}}</th> 
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>40Lオリコン数</th>
        </tr>
        <tr>
            <td>
                <input type="text" required="required", name="foL" value="{{foL}}">
            </td>
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>60Lオリコン数</th>
        </tr>
        <tr>
            <td>
                <input type="text" required="required", name="siL" value="{{siL}}">
            </td>
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>冷・アイス・食用オリコン数</th>
        </tr>
        <tr>
            <td>
                <input type="text" required="required", name="oricon" value="{{oricon}}">
            </td>
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>冷・アイス・食用ケース数</th>
        </tr>
        <tr>
            <td>
                <input type="text" required="required", name="cas" value="{{cas}}">
            </td>
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>酒コン数</th>
        </tr>
        <tr>
            <td>
                <input type="text" required="required", name="sake" value="{{sake}}">
            </td>
        </tr>
    </table>
<input type="submit" value="次へ">
</form>
<a href="/logout"  role="botton">ログアウト</a>
<!--<a href="/chargein" role="button">次へ</a>-->
<!--<a href="/"  role="botton">一覧に戻る</a>-->
</head></html>
{% endblock %}