{% extends "base.html" %}
{% block content %}
<html><head>
    <!--CSSを埋め込む-->
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">
    <style>
        /* スマートフォン対応 */
        @media screen and (max-width: 768px) {
          body {
            font-size: 18px;
          }
        }
        /*ボタンスタイル*/
        .btn {
            background-color: rgb(190, 216, 239);
            color: black;
            font-size: 14px;
            padding: 15px 36px;
        }
        .btn1 {
            background-color: white;
            color: black;
            font-size: 12px;
            padding: 10px 30px;
        }
    </style>
    
<!--ログインフォーム-->
<form method="POST">
    <table border="2">
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>パスワード</th>
        </tr>
        <tr>
            <td>
                <input type="text", name="roster" vallue="{{roster}}">
            </td>
            <td>
                <input type="text", name="name" vallue="{{name}}">
            </td>
            <td>
                <input type="password", name="password">
            </td>
        </tr>
    </table>
    <p></p>
    <input type="submit" value="ユーザー登録">
</form>
<p></p>
<p></p>
<P1>ログアウトする</P1><br>
    <button onclick="location.href='/login'">ログアウト</button>
<!--<a href="/login" role="botton">ログイン画面へ戻る</a>-->
{% endblock %}