{% extends "base.html" %}
{% block content %}
<html><head><body>
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">
    <style>
        /* スマートフォン対応 */
        @media screen and (max-width: 768px) {
          body {
            font-size: 18px;
          }
        }
        /*ボタンスタイル*/
        .btn {
            background-color: rgb(190, 216, 239);
            color: black;
            font-size: 20px;
            padding: 15px 36px;
        }
        .btn1 {
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 10px 33px;
        }
      </style>
      </style>


<img src="/image/R3.jpg" alt="写真">
<h1>実施店舗入力</h1>
    <form method="POST" action="#">
    <!--<form action="/storepost" method="POST">-->
        <table border="2">
        <tr>
            <th>実施日入力</th>
        </tr>
        <tr>
            <td>
                <input type="date" required="required", name="date" value={{date}} >
            </td>
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>店舗コード入力</th>
        </tr>
        <tr>
            <td>
                <input type="text" required="required" minlength="6" maxlength="6" , name="storeNo"  value={{storeNo}} >
            </td>
        </tr>
    </table>
    <p></p>
    <p></p>
    <p></p>
    <!--<input type="submit" value="次へ" >-->
    <button class="btn" onclick="location.href='submit'">次へ </button>
</form>
<p></p>
<p></p>
<P1>ログアウトする</P1><br>
<button class="btn1" onclick="location.href='/logout'">ログアウト</button>
<!--<a href="/"  role="botton">DB登録確認画面</a>-->
</body></head></html>
{% endblock %}